h1 {
    text-align: center;
    font-weight: 500;
}

.button1 {
    float: right;
    background-color: #639A67;
    border-radius: 12px;
}

.button2 {
    background-color: #639A67;
    border-radius: 12px;
}