#map {
    height:400px;
    width: 100%;
}

:root {
    --primary: #2B580C;
    --secondary: #639A67;
    --tertiary: #D8EBB5;
    --final: #D9BF77;
}

header {
    background-color: var(--primary);
    color: var(--final);
}

#map_container {
    padding-bottom: 45px;
}

body {
    background-color: var(--tertiary);
}

.button {
    border-radius: 5px;
    background-color: var(--secondary);
    color: var(--final);
}

.button:hover {
    background-color: maroon;
}

footer {
    background-color: var(--primary);
    color: var(--final);
    display: flex;
    justify-content: center;
    justify-content: space-around;
    align-items: center;
}

.hidden {
    display:none;
}

ol li {
    border-style: solid;
    border-radius: 5px;
    border-color: var(--primary);
}

ol li > p {
    color: var(--primary);
}

ol li > h3 {
    color: var(--final);
}